* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #232526, #414345);

  font-family: Sans-Serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px;
}

nav .logo {
  color: white;
  user-select: none;
  font-family: "American Typewriter", serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}

nav .nav-items {
  display: flex;
  list-style: none;
}

nav .nav-items li {
  padding: 0 18px;
}

nav .nav-items li a {
  font-size: 20px;
  user-select: none;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #00c9ff, #92fe9d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

nav .nav-items li a.active {
  font-size: 20px;
  font-weight: 900;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.nav-items li a:not(.active):hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  -webkit-transition: padding-bottom 300ms ease;
  -ms-transition: padding-bottom 300ms ease;
  transition: padding-bottom 300ms ease-in-out;
}

nav .nav-buttons {
  display: flex;
  list-style: none;
}

nav .nav-buttons li {
  padding: 0 5px;
  margin-left: 15px;
}

nav .nav-buttons a {
  padding: 10px 15px;
  font-size: 18px;
  margin-left: 4px;
  text-decoration: none;
  bottom: 10px;
  user-select: none;
  font-weight: 900;
  color: white;
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 0 10;
  cursor: pointer;
}

nav .nav-buttons a:hover {
  color: black;
  background:
    linear-gradient(to right, #00c9ff, #92fe9d) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
}

nav .nav-buttons svg {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 100px;
  top: 10px;
  margin-top: 10px;
  margin-right: 3px;
  transition: transform 0.2s;
  cursor: pointer;
}

nav .nav-buttons svg:hover {
  transform: scale(0.75);
}

nav .nav-buttons img {
  top: 2px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.4s;
}

nav .nav-buttons img:hover {
  transform: scale(0.8);
}

nav .menu-icon {
  display: none;
  user-select: none;
}

nav .filter {
  position: absolute;
  right: 60px;
  top: 20px;
}

.filter-options {
  color: white;
  background: linear-gradient(to right, #232526, #414345);
  position: absolute;
  top: 60px;
  right: 0px;
  width: 250px;
  box-shadow: 0px 1px 2px 2px skyblue;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  animation: dropdown 0.3s ease;
}

.filter-options label {
  display: block;
  margin: 5px 20px;
}

.filter-options p {
  font-weight: 600;
  margin: 10px 10px;
}

#apply-filter {
  display: block;
  margin: 10px auto;
  color: white;
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 800;
}

#apply-filter:hover {
  color: black;
  background:
    linear-gradient(to right, #00c9ff, #92fe9d) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
}

[v-cloak] {
  display: none;
}

.search-icon {
  display: block;
}

.floating-screen-container {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  padding: 10px;
}

.closeIcon-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.floating-screen {
  padding: 20px;
  background-color: linear-gradient(to right, #232526, #414345);
  border: 2px solid skyblue;
  border-radius: 15px;
  box-shadow: 0 0 10px skyblue;
  text-align: center;
}

.floating-screen input {
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 20px;
  fill: white;
  border: double 3px transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
  border-radius: 20px;
  border: 2px solid transparent;
}

.floating-screen button {
  display: block;
  margin: 10px auto;
  color: white;
  background:
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
  border-radius: 20px;
  border: 2px solid transparent;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 800;
}

.floating-screen button:hover {
  color: black;
  background:
    linear-gradient(to right, #00c9ff, #92fe9d) padding-box,
    linear-gradient(to right, #00c9ff, #92fe9d) border-box;
}

.profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  width: auto;
  color: white;
  background: linear-gradient(to right, #232526, #414345);
  box-shadow: 0px 3px 5px skyblue;
  z-index: 1;
  right: 5px;
  top: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 30px;
  animation: dropdown 0.3s ease;
}

.dropdown-content a {
  padding: 12px 5px;
  text-decoration: none;
  color: black;
  display: block;
  transition: background-color 0.3s;
  margin-bottom: 4px;
}

.dropdown-content b {
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.message p {
  position: fixed;
  top: 60px;
  right: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.card-container {
  top: 70px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 30px;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
}

.card {
  box-shadow: 10px 10px 10px -4px skyblue;
  max-width: 240px;
  padding: 10px 10px 0px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  transform: rotate(0deg);
  user-select: none;
}

.card:hover {
  transform: translateY(-5px) rotate(0deg);
  box-shadow: 0 10px 20px black;
}

.card h3 {
  font-weight: 900;
  color: black;
  text-align: center;
  color: #007fff;
}

.card form {
  margin: 0;
  text-align: center;
  margin-bottom: 0px;
}

.card p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card button {
  user-select: none;
  padding: 8px;
  color: white;
  background-color: black;
  border: solid 2px #00c9ff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.card button:hover {
  background-color: #00c9ff;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.card .image {
  border-radius: 10px;
  margin-bottom: 20px;
  height: 150px;
  width: 100%;
  border-color: black;
}

.card .card-items {
  font-weight: 300;
  margin: 0px;
}

.card input {
  width: 50%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 4px;
}

@keyframes slideIn {
  0% {
    right: 85px;
  }

  100% {
    right: 125px;
  }
}

@keyframes dropdown {
  0% {
    top: 50px;
  }

  100% {
    top: 60px;
  }
}

@media screen and (max-width: 830px) {
  nav {
    margin: 0px;
    padding: 0px;
  }

  nav .nav-buttons {
    padding: 0px;
  }

  nav .logo {
    position: absolute;
    top: 10px;
    left: 40px;
  }

  nav .nav-buttons svg {
    margin: 0px;
    top: 20px;
  }

  nav .nav-buttons li a {
    padding: 6px 6px;
  }

  nav .menu-icon img {
    position: absolute;
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 3px;
    border-radius: 50%;
    transition: border 0.3s ease;
  }

  nav .menu-icon img:hover {
    border: 1px solid skyblue;
    transition: border 0.1s ease;
  }

  nav .nav-items {
    display: none;
    background: linear-gradient(to right, #232526, #414345);
    left: -100%;
    transition: 0.5s ease;
    position: fixed;
    z-index: 99;
    top: 72px;
    width: 200px;
    height: 100%;
    display: inline-block;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 3px 3px 5px skyblue;
  }

  nav .menu-icon {
    display: block;
  }

  nav .nav-items.active {
    left: 0;
  }

  nav .menu-icon.active img {
    border: 4px solid skyblue;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 30px;
  }

  nav .filter {
    position: absolute;
    right: 50px;
    top: 20px;
  }
}
