<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Item</title>
  <link rel="stylesheet" href="/static/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>

<body>
  <nav class="navbar bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <h1>Grocery</h1>
      <ul class="nav-item nav">
        {% if not signed %}
          <a class="nav-link" href="signup">Signup </a><a class="nav-link" href="login">Login</a>
        {% else %}
          <a class='nav-link'>{{ username }}</a>
          <a class='nav-link' href='logout'>Logout</a>
        {% endif %}
      </ul>
    </div>
    <div class="container-fluid">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="category">Category</a>
        </li>
        {% if not ismanager %}
        <li class="nav-item">
          <a class="nav-link" href="/cart">My Cart</a>
          </li>
        <li class='nav-item'>
        <a class="nav-link" href="/history">History</a>
        </li>  
        {% else %}
          <li class='nav-items'>
          <a class="nav-link disabled" href="/cart">My Cart</a>
          </li>  
        {% endif %}
        {% if ismanager %}
        <li class="nav-item">
          <a class="nav-link active" href="store">My Store</a>
        </li>
        <li class='nav-item'>
        <a class="nav-link" href="/analytics">Analytics</a>
	      </li> 
        {% endif %}
      </ul>
    </div>
  </nav>
  <br>
  {% if message %}
  <p style="text-align: center; color : {{message_color}}">{{message}}</p>
  {% endif %}
  <div class="container-fluid">
    <div class="container py-4 py-xl-5 mx-auto col-xl-3">
        <h1>Add Item</h1>
        <br>
        <form method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input class="form-control" type="file" name="img" placeholder="Upload Image" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" class="form-control" name="name" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Category</label>
              <input type="text" class="form-control" name="category" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Unit</label>
              <select class="form-select" name="unit" required>
                  <option value="Kg">Kg</option>
                  <option value="Litre">Litre</option>
                  <option value="Pocket">Pocket</option>
              </select>
          </div> 
            <div class="mb-3">
              <label class="form-label">Stock</label>
              <input type="number" class="form-control" name="stock" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Price Per Unit</label>
              <input type="number" class="form-control" name="price" required>
            </div>
            <div class="mb-3">
              <label class='form-label' for="date">Expiry Date</label>
              <input type="date" id="date" name="date" class='form-control' required>
            </div>
            <button type="submit" class="btn btn-primary">Complete</button>
          </form>
    </div> 
  </div>
</body>

</html>
