<!doctype html>
<html>

<head>
  <title>Grocery | Add-item</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/add_item.css" />
</head>

<body>
  <nav class="sticky-top">
    <div class="menu-icon"><img src="../static/images/menu.png" /></div>
    <div class="logo">Grocery</div>
    <div class="nav-items">
      <li><a href="/">Home</a></li>
      <li><a href="/category">Category</a></li>
      {% if current_user.is_authenticated and current_user.role == "Manager"
      %}
      <li><a href="/store">Store</a></li>
      {% endif %}
    </div>
    <div class="nav-buttons">
      <div id="app" v-cloak>
        <li class="search-container" id="search" v-cloak>
          <svg class="search-icon" @click="toggleFloatingScreen" xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="white" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
          <div v-if="floatingScreenIsActive" class="floating-screen-container">
            <div class="closeIcon-con">
              <img @click="closeFloatingScreen" src="../static/images/close.svg" />
            </div>
            <div class="floating-screen" @click.stop>
              <input v-model="searchInput" placeholder="Search" /><br />
              <button @click="search">Submit</button>
            </div>
            <br />
          </div>
        </li>
        <li class="profile">
          <img src="../static/images/user.svg" id="profile-dropdown-trigger" @click="toggleProfileDropdown" />
          <div class="dropdown-content" id="profile-dropdown" v-if="profileDropdownIsActive">
            {% if current_user.is_authenticated %}
            <b>{{current_user.name}}</b><br /><br />
            <a href="logout">Logout</a>
            {% else %}
            <a href="signup">SignUp</a><br />
            <a href="login">Login</a>
            {% endif %}
          </div>
        </li>
      </div>
    </div>
  </nav>
  <br />
  <h3 id='heading'>Add Item</h3>
  <div class="add-item-form">
    <div class="card-info">
      <div class="card">
        <img class="image" id="productImage" src="../static/products/default.png" />
        <p class="card-items" id="name" style="font-weight: bold"></p>
        <p class="card-items" id="pricePerUnit">Price :</p>
        <p class="card-items" id="stock">Stock :</p>
        <p class="card-items" id="category">Category:</p>
        <p class="card-items" id="expire-date">
          Expire Date : <br />(yyyy-mm-dd)
        </p>
      </div>
    </div>
    <div class="input-bars">
      <form action='/add_item' method="post" enctype="multipart/form-data">

        <input type="file" name="file" id="fileInput" placeholder="Product-Image" accept="image/png, image/jpeg"
          onchange="handleImage()" required />
        <input type="text" name="product-name" id="productNameInput" placeholder="Product Name" oninput="updateCard()"
          required />
        <select name="product-category" id="categoryInput" placeholder="Category" oninput="updateCard()" required />
        <option value='' disabled selected>Select Category</option>
        {% for category in categories %}
        <option value='{{category.id}}'>{{category.name}}</option>
        {% endfor %}
        </select>
        <select name="unit" id="unitInput" placeholder="Unit" oninput="updateCard()" required />
        <option value="" selected>Select Unit</option>
        <option value="Kg">Kg</option>
        <option value="Liter">Liter</option>
        <option value="Pocket">Pocket</option>
        </select>
        <input type="number" name="price" id="priceInput" step='any' min='0.1' max='10000' placeholder="Price per Unit"
          oninput="formatAndSetPrice()" required />
        <input type="number" name="stock" id="stockInput" step='any' min='0.1' placeholder="In Stock"
          oninput="formatAndSetStock()" required />
        <input type="text" name="expire-date" id="expireDateInput" placeholder="Expire Date" oninput="updateCard()"
          onfocus="(this.type='date')" onblur="(this.type='text')" min="" />
        <div class="add-button">
          <button type="submit">Add Item</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script src="/static/scripts/home.js"></script>
  <script src="/static/scripts/add_item.js"></script>
</body>

</html>
