<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                         initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  href="/static/login.css">
</head>
 
<body>
    <nav>
	<img class='backbtn' src='/static/images/back.svg'>
        <h1 class="logo">Grocery</h1>
        <div class='nav-buttons'><a href="/signup">SignUp</a></div>
    </nav>
    {% if message %}
    <p class='message' style="color : {{message_color}}" >{{message}}</p>
    {% endif %}
    <!-- container div -->
    <div class="container">
 
        <!-- upper button section to select
             the login or login form -->
        <div class="slider"></div>
        <div class="btn">
            <button class="login">LogIn</button>
            <button class="login_manager">Manager</button>
        </div>
 
        <!-- Form section that contains the
             login and the login form -->
        <div class="form-section">
        <form action="/login" method="post">  
            <!-- loginform -->
            <div class="login-box">
                <input type="email" autocomplete="off"
                       class="email ele" name="email"
                       placeholder="Email ID" required>
                <input type="password" 
                       class="password ele" name="password"
                       placeholder="Password" required>
                <button class="clkbtn">LogIn</button>
            </div>
            </form>
 
            <!-- manger-login form -->
            <form action="/manager_login" method="post">
            <div class="login-box">
                <input type="email" autocomplete="off"
                       class="email ele" name="manager-email"
                       placeholder="Manager Email ID" required>
                <input type="password"
                       class="password ele" name="manager-password"
                       placeholder="Password" required>
                <button class="clkbtn">LogIn</button>
            </div>
            </form>
        </div>
    </div>
    <script src="/static/scripts/login.js"></script>
</body>
</html>
