<!doctype html>
<html>

<head>
  <title>Grocery | Requests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/requests.css" />
</head>

<body>
  <nav class="sticky-top">
    <div class="menu-icon"><img src="../static/images/menu.png" /></div>
    <div class="logo">Grocery</div>
    <div class="nav-items">
      <li><a href="/">Home</a></li>
      <li><a href="/category">Category</a></li>
      <li><a href="/requests" class="active">Requests</a></li>
    </div>
    <div class="nav-buttons">
      <div id="app" v-cloak>
        <li class="search-container" id="search" v-cloak>
          <svg class="search-icon" @click="toggleFloatingScreen" xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="white" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
          <div v-if="floatingScreenIsActive" class="floating-screen-container">
            <div class="closeIcon-con">
              <img @click="closeFloatingScreen" src="../static/images/close.svg" />
            </div>
            <div class="floating-screen" @click.stop>
              <input v-model="searchInput" placeholder="Search" /><br />
              <button @click="search">Submit</button>
            </div>
            <br />
          </div>
        </li>
        <li class="profile">
          <img src="../static/images/user.svg" id="profile-dropdown-trigger" @click="toggleProfileDropdown" />
          <div class="dropdown-content" id="profile-dropdown" v-if="profileDropdownIsActive">
            {% if current_user.is_authenticated %}
            <b>{{current_user.name}}</b><br /><br />
            <a href="logout">Logout</a>
            {% else %}
            <a href="signup">SignUp</a><br />
            <a href="login">Login</a>
            {% endif %}
          </div>
        </li>
      </div>
    </div>
  </nav>
  {% if message %}
  <div class="message">
    <b>
      <p v-show="toastIsActive" style="background-color: {{message_color}}">
        {{message}}
      </p>
    </b>
  </div>
  {% endif %}
  <div class="request-container">
    <table>
      <thead>
        <tr>
          <th>Request By</th>
          <th>Request Type</th>
          <th>Request For</th>
          <th>Request Message</th>
          <th class="action-head">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for req in admin_request %}
        <tr>
          <td>{{ req.request_by }}</td>
          <td>{{ req.request_type }}</td>
          <td>{{ req.request_value }}</td>
          <td>{{ req.request_message }}</td>
          <td>
            <div class="action">
              <div class="approve-btn">
                <a id="approve" href="/approve/{{ req.id }}">Approve</a>
              </div>
              <div class="decline-btn">
                <a id="decline" href="/decline/{{ req.id }}">Decline</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script src="/static/scripts/requests.js"></script>
  <script src="/static/scripts/home.js"></script>
</body>

</html>
