<!doctype html>
<html>

<head>
  <title>Grocery | Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/store.css" />
</head>

<body>
  <nav class="sticky-top">
    <div class="menu-icon"><img src="../static/images/menu.png" /></div>
    <div class="logo">Grocery</div>
    <div class="nav-items">
      <li><a href="/">Home</a></li>
      <li><a href="/category">Category</a></li>
      {% if current_user.is_authenticated and current_user.role == "Manager"
      %}
      <li><a href="/store" class="active">Store</a></li>
      {% endif %}
    </div>
    <div class="nav-buttons">
      <div id="app" v-cloak>
        <li class="profile">
          <img src="../static/images/user.svg" id="profile-dropdown-trigger" @click="toggleProfileDropdown" />
          <div class="dropdown-content" id="profile-dropdown" v-if="profileDropdownIsActive">
            {% if current_user.is_authenticated %}
            <b>{{current_user.name}}</b><br /><br />
            <a href="logout">Logout</a>
            {% else %}
            <a href="signup">SignUp</a><br />
            <a href="login">Login</a>
            {% endif %}
          </div>
        </li>
      </div>
    </div>
  </nav>
  <div class='button-con'>
    <div class="buttons">
      <a href="/add_item">Add Item</a>
      <a href="/new_request">Add Category</a>
    </div>
    <div class='buttons getReport' v-cloak>
      <a @click='showReportOptions' style="color : white;">Get Report</a>
      <div v-if='showOptions' class='modal'>
        <div class="closeIcon-con">
          <img @click="closeShowOptions" src="../static/images/close.svg" />
        </div>
        <div class='modal-content'>
          <label for="reportType">Choose Report Type:</label>
          <select v-model="selectedReportType" id="reportType">
            <option value="csv">CSV</option>
            <option value="pdf">PDF</option>
          </select>
          <button @click="generateReport">Generate Report</button>

        </div>
      </div>
    </div>
  </div>
  <div class="product-container">
    {% for product in products %}
    <div class="card">
      <img class="image" src="../static/products/{{product.id}}.png" />
      <h3 style="text-align: center; font-weight: bold;">{{product.name}}</h3>
      <p class="card-items" style="font-weight: bold">
        Price : {{product.price}} per {{product.unit}}
      </p>
      {% if product.stock > 0 %}
      <p class="card-items">Stock : {{product.stock}} {{product.unit}}</p>
      {% else %}
      <p class="card-items" style="font-weight: bold;color : red;">Out of Stock!!!</p>
      {% endif %} {% if product.expiry_date >= today %}
      <p class="card-items">
        Expire Date : {{product.expiry_date}}<br />(yyyy-mm-dd)
      </p>{% else %}
      <p class="card-items" style="color : red ; font-weight : bold">Expired!!!</p>
      {% endif %}
      <hr />
      <div class="links">
        <a id="edit" href="/edit_item/{{product.id}}">Edit</a>
        <a id="remove" href="/new_request">Remove</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script src="/static/scripts/home.js"></script>
  <script src="/static/scripts/store.js"></script>
</body>

</html>
